# renv
# DO NOT ignore .Rprofile or renv.lock; only ignore installed packages
renv/library/
renv/local/
renv/staging/

# Data and large binary artifacts
data/
*.rds
course_data*
cellranger*
single_cell_course
de_genes_FindAllMarkers.csv

# Jupyter / Checkpoints
.ipynb_checkpoints/

# R / System temp files
.Rproj.user
.Rhistory
.DS_Store
~$*

# Shell / Cache
.cache
.local
.config
.bash_history
.sh_history
.wget-hsts
*cache*

# Web / Render leftovers
site
_site/
.quarto/
/.quarto/
*_files*
*.html
**/*.quarto_ipynb
/.luarc.json